@font-face {
  font-family: arsenale;
  src: url(../fonts/arsenale-white.regular.ttf);
}

@font-face {
  font-family: cartoonist;
  src: url(../fonts/SF_Cartoonist_Hand.ttf);
}

html, body {
  background-image: url(../assets/background-texture.jpg);
  width:100%;
  height:100%;
}

#projects-list {
  font-family: 'cartoonist';
}

#projects-header{
  font-family: 'arsenale';
  font-size: 3em;
}

#name{
  font-family: 'arsenale';
}

#name.ui.huge.header {
  color: #4BB4C3;
  font-size: 4em;
}

#projects-list {
  text-align: left;
}

#social-media i{
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

#email-link, #facebook-link, #mail-link, #twitter-link, #linkedin-link, #github-link{
}

#email-link:hover, #facebook-link:hover, #mail-link:hover, #twitter-link:hover, #linkedin-link:hover, #github-link:hover{
  background-color: #4BB4C3;
}

.cake.icon {
  width: 2em;
  content: url(../assets/cake12.svg);
}

